<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EbaySeller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Version" value="779"/>
    <add key="TimeOut" value="60000"/>
    <add key="LogFileName" value="Log.txt"/>
    <!-- your Developer Id with eBay -->
    <add key="Environment.DevId" value="8ab961bf-dc37-4650-943f-984aee297fd4"/>
    <!-- your Application Id with eBay -->
    <add key="Environment.AppId" value="DaneLeub-7a21-4f7a-b2ce-771687077106"/>
    <!-- your Application Certificate with eBay -->
    <add key="Environment.CertId" value="eaa154ca-b3c5-42cd-9d8e-cc8a69da2e5d"/>
    <!-- API Server URL -->
    <!-- For production site use: https://api.ebay.com/wsapi -->
    <!-- For Sandbox use: https://api.sandbox.ebay.com/wsapi -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi"/>
    <!-- EPS Server URL -->
    <add key="Environment.EpsServerUrl" value="https://api.ebay.com/ws/api.dll"/>
    <!-- eBay Signin URL -->
    <!-- For production site use: https://signin.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <!-- https://signin.ebay.com/ws/eBayISAPI.dll?SignIn -->
    <add key="Environment.SignInUrl" value="https://signin.ebay.com/ws/eBayISAPI.dll?SignIn"/>
    <!-- ViewItem URL -->
    <!-- For production site use: http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0} -->
    <add key="Environment.ViewItemUrl" value="http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&amp;item={0} "/>
    <!-- token is for both API server and EPS server -->
     <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**5tqyUg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AFkYanC5aDpgqdj6x9nY+seQ**fw0CAA**AAMAAA**E8+UWsp6i+LbJ8fDnQ6zIlayottlIOiDqp/hXSVydN/R6PWdpRXd1HbeK7Y8e/o7/OzMw963Lno/dclUSvV8O6rfeXBYAnz+fccxoqrf7QSNoc166mjtDQlsbNKzIUV4c6C4EIM2nTW4juL1kMBdy1L+oPapAACTskHF2IupvynLI2c4LoM76j8W7RvVpDXaHOtdjpdktV8hQ7UHzhnvFeW11XyRShe6zIrLWjmrHTxfBMIgXC5NemLY9BoTV7bVHPzF2muPIALaQKE7HODeUz5gvtxPHOy6u7psh2kW/7m2IL8oCJIy2fngHb57LaDktbhq6OQ0m6dmyeD6Tc3+zKa67AJcfhjzAKvlTQeK9R1Du8hRsjWuu1TGEUHd4DZ8b0pt/jtaA+GwVP4MkjdfiVDRz2TQJL7zV9LiRlIic0ak09e5uqjRc4I6iWUHCaZdDX4C9OMDbCZRiQFT2M+LqQ3ssV9oDzxc7zVQU5sAsGNr+w9MuDaZCsZ0ehTgSeAQoLjhFNBp5K67DuJDNaT2cKBJRShLWB/gEHgEXPIXCBXOn0ya2kaIdodpQ33H9QHYWR5Da+gZbPiXfMqT2RCcIWSXi3tXRmvJ/KEFTs9puMrtY48nZ0xO3Jg4LbQBIkjXWadHVdxtRrf7dem/RFCYTsdHXWGJedl79zWxL4H2abnUQFtDdDVoekcuQ7jwbdke9ka/riXWCf2JY9eAOTHcbD1HbQrXr5oUO9M6KdgEkezJ+xDxGNq4szDMLJ6Vwu9m"/>
    <!-- eBay site ID -->
    <add key="UserAccount.eBayUserSiteId" value="0"/>
    <add key="logexception" value="true"/>
    <add key="logmessages" value="true"/>
    <add key="logsdkmessages" value="true"/>
    <add key="logsdk" value="true"/>
    <add key="logfile" value="Log.txt"/>
    <!-- Rule Name-->
    <add key="RuName" value=""/>
    <add key="Ebay.Template" value="D:\New_Projects\ebaydateien\ebay-template-redame.html"/>
    <!--<add key="Ebay.Template" value="C:\Dokumente und Einstellungen\DM\Desktop\ebaydateien\ebay-template-redame.html"/>-->
    <add key="Paypal.Mail" value="nb@redame.de"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EbaySeller.Properties.Settings>
      <setting name="TemplateUrl" serializeAs="String">
        <value>C:\Users\Dane\Desktop\ebay\Templates\ebay-template-redame.html</value>
      </setting>
    </EbaySeller.Properties.Settings>
  </userSettings>
</configuration>